.top_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b9b8b8;;
}

.middle_content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 3em 0;
}

* {
    color: #000000;
    // font-size: 12pt;
}