.address_info {
    .user_address_info {
        width: 20vw;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }
}


.address_input_area {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20vw;
    margin: 10px 0 50px 0;
}