.header {
    display: flex;
    width: 100vw;
    height: 60px;
    align-items: center;
    // justify-content: space-between;
    position: fixed;
    padding: 0 200px;
    box-sizing: border-box;
    background-color: orange;
    .cosmos_icon {
        background-image: url('../../../assets/main/cosmos_main.png');
        background-size: 123px 20px;
        width: 123px;
        height: 20px;
    }

    .nav {
        display: flex;
        gap: 10px;

        &:hover {
            height: 300px;
        }
    }
}