.header {
    display: flex;
    width: 100vw;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 8vw;
    box-sizing: border-box;
    // background-color: orange;
    background-color: #fff;
    border-bottom: 1px solid #b9b8b8;
    z-index: 9999999;
    .header_left {
        display: flex;
        align-items: center;
        .cosmos_icon {
            background-image: url('../../../assets/main/cosmos_main.png');
            background-size: 123px 20px;
            width: 123px;
            height: 20px;
        }
        .main_menu {
            display: flex;
            // gap: 10px;
            .item {
                height: 60px;
                padding: 0 5px;
                .item_name {
                    color: #000000;
                }

                .item_contents {
                    background-color: orange;
                    height: 0px;
                    width: 100%;
                    position: fixed;
                    top: 60px;
                    left: 0;
                    overflow: hidden;
                    transition: .5s;
                    // display: none;
                    .content_menu{
                        display: flex;
                    }
                }

                &:hover .item_contents {
                    // display: flex;
                    height: 500px;
                }
            }
            
        }
    }

    .header_right {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}